<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Creates a Elasticsearch Index.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>index_name</name>
          <description>The name of the index, for example: chris-test</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>environment</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Development</string>
              <string>Production</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo &quot;Creating index: ${index_name}...&quot;;

if [[ &quot;$environment&quot; == &quot;Production&quot; ]]; then
    curl -H &quot;Content-Type: application/json&quot; -XPUT &quot;http://100.115.67.89:8000/${index_name}&quot; -d @body.json
else
    curl -H &quot;Content-Type: application/json&quot; -XPUT &quot;http://elasticsearch:9200/${index_name}&quot; -d @body.json
fi;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>